// <!-- UPGRADEHUB POKÉDEX - Pau Isach Noguera -->

//IMPORTACIÓN LIBRERIAS SCSS
@import "SCSS/scss/styles/librerias/_colors.scss";
@import "SCSS/scss/styles/librerias/_responsive.scss";

//HTML-SCSS
body {
    background-image: $background-image;
    font-family: $type-font;
    text-transform: capitalize;
    color: $light-color;
  }

  .container {
    text-align: center;

    &__header {
      display: flex; 
      flex-wrap: wrap; 
      align-items: center; 
      justify-content: space-around;
      margin-top: 40px; 
    }
    &__pikachu{
      width: 150px; 
      height: auto; 
      border: 4px solid $inside-color;
      outline: 5px solid $outside-color;
      border-radius: 20px; 
    }
    &__ash{
      width: 210px; 
      height: auto; 
      border: 4px solid $inside-color;
      outline: 5px solid $outside-color;
      border-radius: 20px; 
    }
    &__title {
      width: 700px;
      height: 350px;  
      animation: bounce 1s infinite ease-in-out;
    }

    //Keyframe bounce infinito título pokédex
    @keyframes bounce {
      20% {
        transform: translateY(-15px);
      }
      40% {
        transform: translateY(0px);
      }
      60% {
        transform: translateY(-5px);
      }
      80% {
        transform: translateY(-0px);
      }
    }
  
  //JS-SCSS
  .card {
    background-color: $light-color;
    color: $dark-color;
    text-align: center;
    border: 4px solid $inside-color;
    outline: 5px solid $outside-color;
    border-radius: 20px; 
    padding: 5px;
    cursor: pointer; 
  
    &__title {
      text-transform: uppercase;
      font-size: $title-font;
      margin-top: 5px;
      margin-bottom: 0px; 
    }
    &__subtitle {
      text-transform: capitalize;
      color: $mid-color;
      font-size:  $subtitle-font; 
      margin-bottom: 10px; 
    }
    &__image {
      width: 100px;
    }
    &__id {
      margin-top: 5px; 
      margin-bottom: 5px; 
      color: $mid-color;
    }
  }

  .green {
    background-color: $catch-color;
  }
  .orange {
    background-color: $todo-color;
  }

  #pokedex {
    padding-inline-start: 0;
    padding: 20px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 40px;
  }

  //Animación solo cuando pasemos ratón por encima
  .card:hover {
    .card__image {
      animation: bounce2 0.75s;
    }
  }
  //Keyframe bounce finito pokemon carta
  @keyframes bounce2 {
    20% {
      transform: translateY(-20px);
    }
    40% {
      transform: translateY(+20px);
    }
    60% {
      transform: translateX(-20px);
    }
    80% {
      transform: translateX(+20px);
    }
  }
  
  //HTML-SCSS
  &__input {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around; 
    text-align: center;
    margin-top: 40px; 
    input {
      font-size: $tab-font;
      font-family: $type-font;
      background-color: $light-color;
      color: $mid-color;
      border: 3px solid $inside-color;
      outline: 5px solid $outside-color;
      border-radius: 10px; 
      padding: 10px; 
      width: 300px;  
    }
    select{
      font-size: $tab-font;
      font-family: $type-font;
      background-color: $light-color;
      color: $mid-color;
      border: 3px solid $inside-color;
      outline: 5px solid $outside-color;
      border-radius: 10px; 
      padding: 10px; 
      width: 200px;
      cursor: pointer; 
    }
    a{
      text-decoration: none; 
      font-size: $tab-font;
      font-family: $type-font;
      background-color: $dark-color;
      color: $mid-color;
      text-align: center;
      border: 3px solid $inside-color;
      outline: 5px solid $outside-color;
      border-radius: 10px; 
      width: 200px; 
      padding: 10px;
      cursor: pointer; 
    }
  }
}

  //JS-SCSS
  .types {
      display: flex;
      flex-wrap: wrap;
      span {
          font-family: $type-font;
          padding: 12px;
          font-size: $tab-font;
          border: 3px solid $inside-color;
          outline: 3px solid $outside-color;
          background-color: $light-color; 
          color: $dark-color; 
          border-radius: 10px; 
          margin-right: 20px;
          margin-bottom: 20px; 
          width: 60px; 
          cursor: pointer;
      }
  }