// <!-- UPGRADEHUB POKÉDEX - Pau Isach Noguera -->

//DECLARACIÓN VARIABLES

//Background Colors
$background-image: url("./Images/Wallpaper.jpg");

//Tipografy Colors
$light-color: white;
$dark-color: black;
$mid-color: gray;
$outside-color: rgb(0, 0, 223);
$inside-color: rgb(240, 196, 3); 

//Tipografy Font
$type-font: rubik;

//Font Size
 $title-font: 24px; 
 $subtitle-font: 16px; 
 $tab-font: 14px; 

